// Left-align post title and meta on post pages
.posts-expand .post-header {
  text-align: left;
  margin-bottom: 20px;
}

.posts-expand .post-meta-container {
  text-align: left;
}

.posts-expand .post-meta {
  justify-content: flex-start;
}

// Left-align "Read more" button and post tags
.post-button {
  margin-top: 15px;
  margin-bottom: 66px; // 105px; // restore the original margin after removing the post divider line
  text-align: left;
}

.post-tags {
  text-align: left;
}

.post-eof {
// Left-align the post divider line
//  margin-left: 0; 
//  margin-top: 15px;
  display: none;
}
